@import url('https://fonts.googleapis.com/css?family=Palanquin:300,600');

:root {
  --width: 670px
}

#details {
  font-family: 'Palanquin', sans-serif; 
  width: var(--width);
}

.detail-list {
  margin: 0%;
  padding: 0%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding-left: 0px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.separator {
  margin-left: 0px;
}

.info-align {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.host-picture-container {
  padding-right: 10px
}
.host-picture {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.info-list {
  padding-left: 30px;
}

.e-categoty-host {
  width: 50%;
}

.clickable {
  display:inline-block;
  color: mediumseagreen;
}
.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.buffer {
  width: 100px;
}

.sub-header {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section {
  margin-left: 0px;
}

.align {
  display: flex;
  width: var(--width);
  justify-content: space-around;
} 
.count {
  width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.gif {
  align-self: center;
}

.map {
  height: var(--width);
  width: 550px;
}