:root {
  --width: 500px
}

body{
  font-family:'Arial';
 
}
#details {
  width: var(--width);
}

.detail-list {
  width: var(--width);
}

.info-align{
  display: flex;
  width: var(--width);
  justify-content: space-around;
}

.host-picture {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  float:right;
  margin-left: 10px;
}

e-category-host {
  margin-right:10px;
}

.info {
  width: 500px;
}
.map {
  height: var(--width);
  width: var(--width);
}